<div class="container">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8 text-center">
    <h3>FAQ</h3>
    <h4>
      Perguntas e respostas frequentes.
    </h4>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-8">
  	<b>P:</b> Como faço pra acessar todo o conteúdo da aplicação? Qual é meu usuário e senha?
    <br/><br/>
    <b>R:</b> Pra acessar todo o conteúdo do <%= t 'app_name' %> é necessário autenticar-se com identificador e senha. Onde identificador é o número de matrícula e a senha é o número de matrícula seguido da data da contratação sem barras. Um empregado com a matrícula 12345678 com data de contratação 01/01/2009 tem como senha [ <i>1234567801012009</i> ].
  </div>
  <div class="col-md-1"></div>
</div>

<hr/>

<div class="row">
  <div class="col-md-8">
  	<b>P:</b> Sou empregado do SERPRO e não consigo autenticar-me. Por quê?
    <br/><br/>
    <b>R:</b> Apenas os empregados do SERPRO que já tenham sido promovidos pelo menos uma vez - seja por mérito ou tempo de serviço - no PGCS estão habilitados para acessar a aplicação.
  </div>
  <div class="col-md-1"></div>
</div>

<hr/>

<div class="row">
  <div class="col-md-8">
  	<b>P:</b> Como posso entrar em contato com a administração do sítio para enviar críticas, sugestões ou tirar dúvidas?
    <br/><br/>
    <b>R:</b> Há uma seção específica para contatos no sítio com um link fixo - <%= link_to 'Contato', '#' %> - no rodapé.
  </div>
  <div class="col-md-1"></div>
</div>
</div>